<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Codilar_EcommageBlog::ecommageblog" title="Ecommage Blogs" sortOrder="51">
                    <resource id="Codilar_EcommageBlog::post" title="Posts" sortOrder="10"/>
                    <resource id="Codilar_EcommageBlog::ecommageblog_configuration" title="Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Codilar_EcommageBlog::ecommageblog_config" title="Ecommage Blogs"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>